.container-grid {
  display: grid;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background: rgb(797979);
  color: #333;
  line-height: 1.6;
}
.zoom {
  transition: transform 0.5s;
}

.zoom:hover {
  transform: scale(1.1);
}
ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  opacity: 1;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}
.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar ul {
  display: flex;
}
.navbar a:hover {
  border-bottom: white 2px solid;
}
/* Header */
.landing-page {
  background: url("../images/serviceslanding.jpg") no-repeat center center/cover;
  height: 50vh;
  position: relative;
  color: #fff;
}
.landing-page .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  padding-top: 20px;
}
.landing-page .content h1 {
  font-size: 45px;
}
.landing-page .content p {
  font-size: 18px;
  max-width: 600px;
  margin: 5px 0 5px;
}

/* About Icons */
.icons {
  padding: 30px;
}
.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
.icons i {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.gallery img:hover {
  opacity: 0.7;
}

.team img {
  border-radius: 50%;
}
/* Callback Form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}
.callback-form label {
  display: block;
  margin-bottom: 5px;
}
.callback-form .form-control {
  margin-bottom: 15px;
}
.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #28a745;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}
/* post */
.post {
  padding: 50px 30px;
}
.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta {
  margin-bottom: 30px;
}
.post img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #e9e973;
}
.footer {
  color: white;
  font-size: 20px;
}

.footer .social > * {
  margin-right: 30px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
  .flex-items {
    flex-direction: column;
  }
  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }
  .team img {
    width: 80%;
  }
  .footer p {
    font-size: 15px;
  }
  h1 {
    text-shadow: 3px 3px black;
    font-size: 5px;
  }
}
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}
/* Flex Columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1 .flex-columns .column .column-2 {
  height: 100%;
}
.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  height: 99%;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}
.flex-columns h4 {
  margin-bottom: 10px;
}
.flex-columns p {
  margin: 20px 0;
}

/* Section header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}
.section-padding {
  padding: 20px 20px 40px;
}
/* Flex Grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
}

.btn {
  background-color: black;
  color: white;
}

h1 {
  text-shadow: 3px 3px black;
}
